body {
  background-color: #fff;
  color: #fff;
  font-family: "Roboto Serif", serif;
}
.weather-app {
  background-size: cover;
  /* background-image: url("day.jpg"); */
  background-color: skyblue;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 16px auto 32px;
  padding: 16px 20px;
  /* width: calc(100% - 24px); */
  box-sizing: border-box;
}
.button-forecast {
  background-color: #fafafa;
  color: #0077c0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  margin-right: 8px;

  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  border-radius: 8px;
  border: 2px solid #0077c0;
}
.button-forecast:hover {
  background: #0077c0;
  color: #c7eeff;
}

.footer {
  font-size: 14px;
  opacity: 0.7;
  text-align: left;
  font-family: monospace;
  margin: 15px;
}
